{% set day_of_week = {
    "0": "κυριακή",
    "1": "Δευτέρα",
    "2": "τρίτη",
    "3": "τετάρτη",
    "4": "πέμπτη",
    "5": "παρασκευή",
    "6": "σάββατο"
    }[weekday] | default("")
-%}

{% set month_word = {"01": "ιανουαρίου", "02": "φεβρουαρίου", "03": "μαρτίου", "04": "απριλίου", "05": "μαΐου", "06": "ιουνίου", "07": "ιουλίου", "08": "αυγούστου", "09": "σεπτεμβρίου", "10": "οκτωμβρίου", "11": "νοεμβρίου", "12": "δεκεμβρίου"}[month] | default("") -%}

{% set day_month_formated = {
    "01": "Μία",
    "02": "δύο",
    "03": "τρείς",
    "04": "τέσσερις",
    "05": "πέντε",
    "06": "έξι",
    "07": "επτά",
    "08": "οκτώ",
    "09": "εννέα",
    "10": "δέκα",
    "11": "ένδεκα",
    "12": "δώδεκα",
    "13": "δεκατρείς",
    "14": "δεκατέσσερις",
    "15": "δεκαπέντε",
    "16": "δεκαέξι",
    "17": "δεκαεπτά",
    "18": "δεκαοχτώ",
    "19": "δεκαεννέα",
    "20": "είκοσι",
    "21": "είκοσι-μία",
    "22": "είκοσι-δύο",
    "23": "είκοσι-τρείς",
    "24": "είκοσι-τέσσερις",
    "25": "είκοσι-πέντε",
    "26": "είκοσι-έξι",
    "27": "είκοσι-επτά",
    "28": "είκοσι-οχτώ",
    "29": "είκοσι-εννέα",
    "30": "τριάντα",
    "31": "τριάντα-μία"

}[day_month] | default("") -%}

Έχουμε {{ day_of_week }} {{ day_month_formated }} {{ month_word }} του  {{ year }}
